[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
beautifulsoup4 = "*"
unidecode = "*"
pyyaml = "*"
python-dateutil = "*"
PyYAML = "*"
sentry-sdk = "==0.13.0"

[requires]
python_version = "3.7"
